<!DOCTYPE html>
<html>
<head>
	<title>AI Base Plant Disease Prediction</title>
 	<meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1.0">
 	<link rel="stylesheet" type="text/css" href= "static/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href= "static/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href= "static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href= "static/css/custom.css">
    
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-white bg-white">
	        <div class="container">
	            <a class="navbar-brand" href="#navbarSupportedContent"><img src="static/images/logo.jpeg"></a>
	             <button class="navbar-toggler" type="button" id="toggle_open">
	            <span class=""><!-- <i class="fa fa-bars"></i> -->
	              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="20px" class="hovered-paths"><g><g><path d="M492,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h472c11.046,0,20-8.954,20-20S503.046,236,492,236z" data-original="#000000" class="hovered-path active-path" data-old_color="#000000" fill="#a3cf37"></path></g><g><path d="M492,76H20C8.954,76,0,84.954,0,96s8.954,20,20,20h472c11.046,0,20-8.954,20-20S503.046,76,492,76z" data-original="#000000" class="hovered-path active-path" data-old_color="#000000" fill="#a3cf37"></path></g><g><path d="M492,396H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h472c11.046,0,20-8.954,20-20    C512,404.954,503.046,396,492,396z" data-original="#000000" class="hovered-path active-path" data-old_color="#000000" fill="#a3cf37"></path></g></g> </svg>
	            </span>
	          </button>

	            <div class="collapse navbar-collapse" id="navbarSupportedContent">
	                <ul class="navbar-nav ml-auto nav-header">
				<li class="nav-item">
	                  	<a href="javascript:;" class="nav-link" ><div id="google_translate_element"></div></a>
	                  	<script type="text/javascript"  src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
						<script type="text/javascript">
						function googleTranslateElementInit() {
						  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
						}
						</script>
	                  </li>
	                </ul>
	            </div>

	        </div>
	    </nav>
	</header>
	<main class="">
		<section class="home_banner">
			<div class="owl-carousel owl-theme">
				<div class="item">
					<img src="https://cdn.pixabay.com/photo/2018/09/24/00/07/plant-3698817_960_720.jpg" alt="Banner Image">
				</div>
				<div class="item">
					<img src="https://media.istockphoto.com/photos/young-plant-growing-in-sunlight-picture-id658291850?k=20&m=658291850&s=612x612&w=0&h=RLzbYzoN8q8UoKDUd3eebu2hmrhCEYIE48C41x419Fs=" alt="Banner Image">
				</div>
				<div class="item">
					<img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/10ECF/production/_107772396_treesmall.jpg" alt="Banner Image">
				</div>
				<div class="item">
					<img src="https://www.ippc.int/static/img/images/topic4.jpg" alt="Banner Image">
				</div>
			</div>
		</section>
		<!-- Plant Disease Prediction AI App -->
		<section class="plant_disease">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h2 class="title">AI Based Plant Disease Prediction</h2>
					</div>
					<div class="col-lg-6 col-md-6 col-xl-6 d-flex align-items-center">
						<div class="DKdescrip">
							<p>Many veterans said that Deep Learning and AI is a threat to our world, but if we use it properly, we can do many good things today, we will see a small example of this in which we will be in cotton farming Find out about the disease</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-xl-6">
						<div class="rightimg">
							<img src="static/images/banner4.jpg" alt="" class="img-thumbnail">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="imgupload_section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h2 class="title">Predict Plant Disease & Get Cure</h2>
					</div>
					<div class="col-lg-12 mt-3">
						<div class="form-group pb-3 text-center">
							<div class="upperfile">
							<form action="/predict" method="post" onsubmit="showloading()" enctype="multipart/form-data">
								<input type="file" name="image" value="" class="">
								<img src="static/images/upload.png" alt="Image">
							</div>
						</div>
						<div class="text-center py-3">
							<input type="submit" name="" value="Proceed" class="greenbtn">
						</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center copyright">
					<p>© AI Base Plant Disease Prediction<br>
						Powered By :- Pooja Bhavsar
					</p>
				</div>
			</div>
		</div>
	</footer>
<script src="static/js/jquery-3.3.1.min.js"></script>
<script src="static/js/popper.min.js" ></script>
<script src="static/js/bootstrap.min.js" ></script>
<script src="static/js/owl.carousel.min.js" ></script>
<script src="static/js/owl.carousel.js" ></script>
<script type="text/javascript">
	$('.home_banner .owl-carousel').owlCarousel({
	    loop:true,
	    margin:10,
	    nav:false,
	    dots:true,
	    autoplay:true,
	    responsive:{
	        0:{
	            items:1
	        },
	        600:{
	            items:1
	        },
	        1000:{
	            items:1
	        }
	    }
	});
</script>
</body>
</html>